
body {
    font-family: "Roboto", sans-serif;
}

.header, .hero, .footer {
    background-color: #1f2937;
    display: flex;
}

.header {
    padding-top: 20px;
    justify-content: space-around;
    align-items: center;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.header-left-links {
    font-size: 18px;
    display: flex;
    gap: 20px;
    color: #e5e7eb;
}

.hero {
    justify-content: center;
    gap: 20px;
    padding: 100px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 500px;
    gap: 10px;
}

.hero-main-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    
}

.hero-secondary-text {
    font-size: 18px;
    color: #919192;
}


.sign-up-button, .action-container {
    background-color: #3882f6;
    padding: 10px 20px;
    text-decoration: none;
    color: #f9faf8 ;
    border-radius: 8px;
}

.sign-up-button {
    font-weight: bold;
    width: 110px;
    text-align: center;
    border-color: white;
    
}

.img {
    flex-shrink: 0;
    width: 400;
}

.info-header {
    font-weight: 900;
    font-size: 36px;
    color: #1f2937;
    text-align: center;
    padding: 50px;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    text-align: center;
}

.info-containers {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-bottom: 70px;
}

.info-img {
    border-radius: 8px;
    width: 180px;
    height: 180px;
    margin-bottom: 10px;
}

.info-container {
    width: 180px;
}

.quote-section {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    padding: 80px;
}

.quote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    gap: 20px;
}

.quote-text {
    font-size: 36px;
    color: #4c545f;
    font-style: italic;
}

.quoter {
    align-self: flex-end;
    font-weight: 900;
    font-size: 20px;
}

.call-to-action {
    display: flex;
    justify-content: center;
    padding: 50px;

}
.action-container {
    width: 700px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}

.action-header {
    font-weight: 800;
}

.footer {
    color: #E5E7EB;
    justify-content: center;
    align-items: center;
    padding: 15px;
}