
body {
    font-family: "Roboto", sans-serif;
}

.header {
    background-color: #1f2937;
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.header-left-links {
    font-size: 18px;
    display: flex;
    gap: 20px;
    color: #e5e7eb;
}

.hero {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 100px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 500px;
    gap: 10px;
}

.hero-main-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    
}

.hero-secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

.sign-up-button {
    background-color: #3882f6;
    padding: 10px 24px;
    text-decoration: none;
    font-weight: bold;
    width: 75px;
    text-align: center;
    color: #f9faf8 ;
    border-radius: 8px;
}

.img {
    flex-shrink: 0;
    width: 400;
}